body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  background: #fafafa;
}
h1,
h2,
h3,
h4 {
  color: #222831;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.container--grid {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-column-gap: 20px;
}
